<ion-header>
  <ion-toolbar>
    <ion-title>ListReportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card style="width: 100%;"  (click)="MostrarReporte('Combustibles.php')">
    <ion-item>
      <ion-label>Reporte Combustibles Disponibles</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="width: 100%;" (click)="MostrarReporte('Usuarios.php')" >
    <ion-item>
      <ion-label>Reporte Consumo Clientes</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="width: 100%;" (click)="MostrarReporte('VentaCom.php')" >
    <ion-item>
      <ion-label>Reporte de Ventas Combustibles</ion-label>
    </ion-item>
  </ion-card>
  <ion-card style="width: 100%;" (click)="MostrarReporte('UsuarioVen.php')" >
    <ion-item>
      <ion-label>Reporte de Ventas Usuarios</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
