<div id="DivPagina">
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
</div>
<div id="DivLogin" class="estiloBloqueo">
  <div class="page login-page">
      <div class="container">
        <div class="form-outer text-center d-flex align-items-center">
          <div class="form-inner" style="width: 100%;">
            <div class="logo text-uppercase"><strong class="text-primary">DEADV</strong></div>
           
            <form method="get" class="text-left form-validate">
              <div class="form-group-material">
                <input id="txt-login-username" type="text" name="loginUsername" required data-msg="Please enter your username" class="input-material">
                <label for="login-username" class="label-material">Usuario</label>
              </div>
              <div class="form-group-material">
                <input id="txt-login-password" type="password" name="loginPassword" required data-msg="Please enter your password" class="input-material">
                <label for="login-password" class="label-material">Password</label>
              </div>
              <div class="form-group text-center">
                  <label id="lbl_error"   style="color:#dc3545;display: none;font-size: 80%;" ></label>
              </div>
              <div class="form-group text-center">
                  
                  <button type="button" id="btn_Login" style="width: 50%;" class="btn btn-primary" 
                  (click)="onClickLogin()">Ingresar</button>
              </div>
              
            </form>
          </div>
         
        </div>
      </div>
    </div>
</div>