<ion-header>
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button autoHide="false" (click)="regresarBTN()">
        <ion-icon size="large" name="arrow-round-back"></ion-icon>
      </ion-button>
  
    </ion-buttons>
    <ion-title>Dispensador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label position="floating">Descripcion</ion-label>
    <ion-input id="txtDescripcionN"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Combustible:</ion-label>
    <ion-select okText="OK" value="" cancelText="Cancelar" id="selIsla" >
      <ion-select-option value="{{isl.Id}}" *ngFor="let isl of ListCombustibles">{{isl.Nombre}} 
      </ion-select-option>

    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Maquina:</ion-label>
    <ion-select okText="OK" value="" cancelText="Cancelar" id="selMaquina" >
      <ion-select-option value="{{isl.Id}}" *ngFor="let isl of ListMAquinas">{{isl.Descripcion}} - {{isl.Nombre}} 
      </ion-select-option>

    </ion-select>
  </ion-item>
  
  <ion-button shape="round" color="success" expand="full" (click)="GuardarCLI()" >Guardar</ion-button>
</ion-content>
