<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Gasolinera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  
  
  <ion-card>
    <ion-item>
      
      <ion-label>Cliente</ion-label>
      <ion-button fill="outline" slot="end">
        <ion-icon name="contact" size="large" ></ion-icon>
      </ion-button>
    </ion-item>
  
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>
  
 



</ion-content>
